/**************HEIGTHS AND WIDTHS************/

$header_height: 60px;

/***********************COLOR****************/
//font
$my_font_green: #1fad95;
$my_font_blue: #08427d;
$input_placeholder_grey: #b1b1b0;
//back ground
$my_bg_green: #2fab97;
$my_input_bg_grey: #e2e2e0;