/**************HEIGTHS AND WIDTHS************/

$header_height: 50px;

/***********************COLOR****************/
//font
$my_font_green: #1fad95;
$my_font_blue: #08427d;
$input_placeholder_grey: #b1b1b0;
$main_section__card: #6c6c6b;
//back ground
$my_bg_green: #2fab97;
$my_input_bg_grey: #f1efef;
$my_footer_bg_color: #141423;
//circle border
$circle_border: #ECC5AB;