/**************HEIGTHS AND WIDTHS************/

$header_height: 60px;

/***********************COLOR****************/
//font
$my_font_green: #1fad95;
$my_font_blue: #08427d;
//back ground
$my_bg_green: #2fab97;